@model IEnumerable<Julebrygg2.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bruker.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drikke.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Karakter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nokkelord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmakerJul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bruker.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drikke.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bilde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Karakter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nokkelord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmakerJul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
